<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <ul>
      <li>你的姓名: <%= name %></li>
      <li> 你的email: <%= email %></li>
    </ul>
</body>
</html>